/*
-----------------------------------------------
Title:   Screen styles for lente.net
Author:  Daniel R. Driver
Date:    15 March 2013 (v0.1)
----------------------------------------------- */

/* Reset (Eric Meyer, v2.0)
----------------------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
  }
ol, ul {
  list-style: none;
  }
blockquote, q {
  quotes: none;
  }
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
  }
table {
  border-collapse: collapse;
  border-spacing: 0;
  }

/* Colour palette
   --------------
   colourlovers.com/palette/292482/
   colourlovers.com/palette/1419658/
----------------------------------------------- */

a {
  color: #c02942;
  }
a:active, a:hover {
  color: #d95b43;
  }
a:visited {
  color: #542437;
  }
::selection {
  background: #cdb380;
  text-shadow: none;
  }
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cdb380;
  margin: 1em 0;
  padding: 0;
  }

/* Basic typography
   ----------------
   30em * 16px = 480 ; 24/16 = 1.5
   228 + 24 + (228 + 24 + 228) = 732
----------------------------------------------- */

body {
  font-family: Skolar PE, Georgia, serif;
  font-size: 16px;
  line-height: 24px;
  padding: 12px;
  color: #031634;
  background: #e8ddcb;
  }
.container {
  width: 732px;
  margin: 0 auto;
  }
header[role="banner"] {
  height: 72px;
  padding: 12px 0;
  margin-bottom: 24px;
  border-bottom: 2px solid #cdb380;
  text-rendering: optimizelegibility;
  }
#logo {
  float: left;
  width: 228px;
  margin-right: 24px;
  }
#logo a {
  display: block;
  width: 228px;
  height: 72px;
  background: url(../img/lente.png) no-repeat top left;
  background-size: 228px 144px;
  }
#logo a:hover {
  background-position: 0 -72px;
  }
#logo img {
  display: block;
  height: 0;
  }
nav {
  float: left;
  width: 480px;
  }
nav li {
  float: left;
  width: 120px;
  }
nav li a {
  display: block;
  height: 36px;
  padding: 20px 0 16px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  color: #542437;
  }
nav li a:hover, header nav li a.active {
  color: #c02942;
  }
nav li i {
  font-size: 18px;
  text-transform: uppercase;
  }
nav li small {
  display: block;
  font-size: 13px;
  }



aside[role="contentinfo"] {
  width: 228px;
  float: left;
  font-style: italic;
  color: #542437;
  }
section[role="main"] {
  width: 480px;
  float: right;
  position: relative;
  }
blockquote {
  font-style: italic;
  margin: 16px 0 16px 24px;
  }
blockquote em {
  font-style: normal;
  }

#extra {
  height: 198px;
  margin-top: 72px;
  background-color: #cdb380;
  }
footer {
  text-align: center;
  padding: 19px 0;
  color: #e8ddcb;
  background: #542437;
  }
footer a, footer a:active, footer a:visited {
  text-decoration: none;
  color: #cdb380;
  }
footer a:hover {
  text-decoration: underline;
  }
/* Border - css-tricks.com/body-border/ */
#top, #bottom,
#left, #right {
  background: #cdb380;
  position: fixed;
  }
#top, #bottom {
  left: 0; right: 0;
  height: 12px;
  }
  #top { top: 0; }
  #bottom { bottom: 0; }
#left, #right {
  top: 0; bottom: 0;
  width: 12px;
  }
  #left { left: 0; }
  #right { right: 0; }

/* Headings & paragraphs
----------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
  font-size: 18px;
  color: #036564;
  text-rendering: optimizelegibility;
  }
h1 {
  font-size: 30px;
  line-height: 34px;
  font-weight: bold;
  color: #031634;
  }
h2 + h3, h4, h5 + p, h6 + p {
  margin-top: 24px;
  }
h2, h3, h4 {
  margin-bottom: 24px;
  }
h2, h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  }
h2 {
  font-size: 21px;
  }
p + h2 {
  margin-top: 48px;
  }
h3 {
  margin-top: 33px;
  }
h4, h5, h6 {
  font-style: italic;
  }
h5, h6 {
  display: run-in;
  font-size: 16px;
  padding-right: 24px;
  font-weight: bold;
  }
h6 {
  margin-left: 24px;
  }
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  text-transform: none;
  letter-spacing: 0;
  font-size: 13px;
  color: #033649;
  }
h1 small {
  font-size: 21px;
  }
h2 small {
  font-size: 18px;
  }
h3 small {
  font-size: 16px;
  }

header[role="heading"] {
  margin: 48px 0;
  }
header[role="heading"] a {
  text-decoration: none;
  }
header[role="heading"] a:hover {
  text-decoration: underline;
  }
.byline {
  padding-top: 24px;
  font-style: italic;
  color: #033649;
  }
a.author {
  font-style: normal;
  text-transform: uppercase;
  }


.issue-contents header {
  padding-bottom: 8px;
  margin: 24px 0;
  border-bottom: 1px solid #cdb380;
	}
.issue-contents ul {
	width: 480px;
	float: right;
	}
.issue-contents h2 {
	display: block;
	float: left;
	width: 228px;
	margin: 0 0 0 -252px;
	text-transform: none;
	font-size: 16px;
	font-style: italic;
	}


em {
  font-style: italic;
  }
strong {
  font-weight: bold;
  }

p {
  margin: 0;
  }
p + p {
  text-indent: 24px;
  }

/* 
section[role="main"] p:last-child:after {
  content: "\00B6"; 
  }
 */

aside, .footnotes, footer {
  font-size: 13px;
  line-height: 19px;
  }




/* Footnotes
----------------------------------------------- */

.footnotes {
  width: 228px;
  position: absolute;
  left: -251px;
  bottom: 0;
  }
.footnotes hr {
  width: 30%;
  display: none;
  }
.footnotes ol {
  list-style: decimal inside;
  }
.footnotes li {
  padding-bottom: 1em;
  }
.footnotes li:last-child {
  padding-bottom: 0;
  }
.footnotes li p + p {
  text-indent: 1em;
  }

/* Book thumbnails
----------------------------------------------- */

.bookthumbs {
  /* margin-left: -24px; */
  }
.bookthumbs > li {
  float: left;
  margin-top: 24px;
  /* margin-left: 24px; */
  }
.bookthumbs > li a {
  display: block;
  padding: 4px;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #cdb380;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(3, 22, 52, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(3, 22, 52, 0.1);
          box-shadow: 0 1px 3px rgba(3, 22, 52, 0.1);
  -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
  }
.bookthumbs > li a:hover,
.bookthumbs > li a:focus {
  border-color: #d95b43;
  -webkit-box-shadow: 0 1px 4px rgba(192, 41, 66, 0.25);
     -moz-box-shadow: 0 1px 4px rgba(192, 41, 66, 0.25);
          box-shadow: 0 1px 4px rgba(192, 41, 66, 0.25);
  }
.bookthumbs > li a img {
  display: block;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  }
.bookthumbs > li a .caption {
  font-style: normal;
  color: #542437;
  padding-top: 6px;
  text-align: center;
  }



/* Miscellaneous
----------------------------------------------- */

/* evening */
/* 
body {
  color: #e8ddcb;
  background: #033649;
  }
#top, #bottom,
#left, #right {
  background: #031634;
  }
a:link, a:visited {
  color: #d95b43;
  }
a:hover, a:active {
  color: #c02942;
  }
 */

/* from h5bp main.css */
.group:before,
.group:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}
.group:after {
  clear: both;
}
.group {
  *zoom: 1;
}
