/*
-----------------------------------------------
Title:   Screen styles for lente.net
Author:  Daniel R. Driver
Date:    28 March 2013 (v0.2)
----------------------------------------------- */

/* Reset (Eric Meyer, v2.0)
----------------------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
  }
ol, ul {
  list-style: none;
  }
blockquote, q {
  quotes: none;
  }
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
  }
table {
  border-collapse: collapse;
  border-spacing: 0;
  }

/* Colour palette
   --------------
   colourlovers.com/palette/292482
   colourlovers.com/palette/694737 + #c80
----------------------------------------------- */

a {
  color: #c02942;
  }
a:active, a:hover {
  color: #d95b43;
  }

::selection {
  background: #cdb380;
  text-shadow: none;
  }
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cdb380;
  margin: 1em 0;
  padding: 0;
  }

/* Basic typography
   ----------------
   30em * 16px = 480 ; 24/16 = 1.5
   228 + 24 + (228 + 24 + 228) = 732
----------------------------------------------- */

body {
  font-family: Skolar PE, Georgia, serif;
  font-size: 16px;
  line-height: 24px;
  padding: 8px;
  color: #031634;
  background: #e8ddcb url(../img/texture.gif) top repeat;
  }
#container {
  width: 732px;
  margin: 0 auto;
  }
header[role="banner"] {
  height: 72px;
  padding: 24px 0;
  margin-bottom: 24px;
  border-bottom: 4px solid #cdb380;
  }
#logo {
  float: left;
  width: 228px;
  margin-right: 24px;
  }
#logo a {
  display: block;
  width: 228px;
  height: 72px;
  background: url(../img/lente.png) no-repeat top left;
  background-size: 228px 144px;
  }
#logo a:hover {
  background-position: 0 -72px;
  }
#logo img {
  display: block;
  height: 0;
  }
nav {
  float: left;
  width: 480px;
  }
nav li {
  float: left;
  width: 120px;
  }
nav li a {
  display: block;
  height: 40px;
  padding: 20px 0 12px;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  color: #542437;
  }
nav li a:active, nav li a:hover, header nav li a.active {
  color: #c02942;
  }
nav li i {
  font-size: 21px;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 1px;
  }
nav li small {
  display: block;
  font-size: 13px;
  line-height: 13px;
  }



aside[role="contentinfo"] {
  width: 228px;
  float: left;
  font-style: italic;
  color: #036564;
  margin-bottom: 1em;
  }
section[role="main"] {
  width: 480px;
  float: right;
  position: relative;
  }
blockquote {
  font-style: italic;
  margin: 16px 0 16px 24px;
  }
blockquote em {
  font-style: normal;
  }

footer {
  margin-top: 72px;
  text-align: center;
  padding: 19px 0;
  color: #542437;
  }
footer a {
  text-decoration: none;
  color: #c02942;
  }
footer a:hover {
  text-decoration: underline;
  color: #c02942;
  }
#top, #bottom,
#left, #right { /* css-tricks.com/body-border/ */
  background: #cdb380;
  position: fixed;
  }
#top, #bottom {
  left: 0; right: 0;
  height: 8px;
  }
  #top { top: 0; }
  #bottom { bottom: 0; }
#left, #right {
  top: 0; bottom: 0;
  width: 8px;
  }
  #left { left: 0; }
  #right { right: 0; }

/* Headings & display text elements
----------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
  color: #542437;
  text-rendering: optimizelegibility;
  }
h1 {
  font-size: 36px;
  line-height: 1.1666;
  color: #033649;
  }
h1 small {
  font-size: 21px;
  color: #036564;
  }
article h1 {
  font-size: 48px;
  line-height: 1.125;
  }
article h1 small {
  font-size: 36px;
  }
h2, h3, h4 {
  font-size: 21px;
  margin-bottom: 24px;
  }
h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  }
h2 small, header h2 {
  text-transform: none;
  letter-spacing: 0;
  }
header h2 {
  font-size: 30px;
  line-height: 36px;
  color: #033649;
  }
h1 + h2 {
  margin-top: 48px;
  }
p + h2 {
  padding-top: 144px;
  margin-top: -96px;
  }
h3, h4, h5 + p, h6 + p {
  margin-top: 24px;
  }
h4 {
  font-style: italic;
  }
h5, h6 {
  display: run-in;
  font-weight: 600;
  padding-right: 1em;
  }
h6 {
  margin-left: 24px;
  }
h2 small, h3 small, h4 small {
  font-size: 16px;
  }
h5 small, h6 small {
  font-size: 13px;
  }
section[role="main"] {
  counter-reset: section;
  }
section[role="main"] h2:before {
  content: counter(section) "\2003";
  counter-increment: section;
  }
section[role="main"] h2 {
  counter-reset: subsection;
  }
section[role="main"] h3:before {
  content: counter(section) "." counter(subsection) "\2003";
  counter-increment: subsection;
  }
section[role="main"] h3 {
  counter-reset: subsubsection;
  }
section[role="main"] h4:before {
  content: counter(section) "." counter(subsection) "." counter(subsubsection) "\2003";
  counter-increment: subsubsection;
  font-style: normal;
  }

/* Headers */

header[role="heading"] {
  margin: 48px 0;
  }
header .byline {
  padding-top: 24px;
  }
.byline {
  color: #542437;
  }
.byline a {
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  }
.byline a:hover {
  text-decoration: underline;
  }
.issue-contents header {
  padding-bottom: 8px;
  margin: 24px 0;
  border-bottom: 1px solid #cdb380;
  }
.issue-contents h1 {
  color: #031634;
  }
.issue-contents h1 small {
  color: #033649;
  }
.issue-contents h2 {
  display: block;
  float: left;
  width: 228px;
  margin: 0 0 0 -252px;
  text-transform: none;
  font-style: italic;
  color: #036564;
  }
.issue-contents ul {
  width: 480px;
  float: right;
  }

/* Banners */

.banner {
  padding: 48px;
  margin-bottom: 24px;
  text-align: center;
  color: #031634;
  background-color: #cdb380;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  }
.banner h1 {
  color: #033649;
  }
.banner h1 small {
  display: block;
  font-style: italic;
  font-size: 21px;
  text-transform: lowercase;
  color: #036564;
  }
.banner p {
  text-indent: 0;
  font-size: 21px;
  line-height: 30px;
  margin-top: 24px;
  }
.banner .navbar {
  margin-top: 24px;
  margin-bottom: 0;
  }
.banner-aqua,
.banner-profunda,
.banner-ionian {
  color: #e8ddcb;
  }
.banner-aqua h1,
.banner-profunda h1,
.banner-ionian h1 {
  color: #cc8800;
  }
.banner-aqua {
  background-color: #036564;
  }
.banner-aqua h1 small {
  color: #ecd078;
  }
.banner-profunda {
  background-color: #033649;
  }
.banner-profunda h1 small {
  color: #cdb380;
  }
.banner-profunda h1 em {
  color: #c02942;
  }
.banner-ionian {
  background-color: #53777a;
  }
.banner-ionian h1 small {
  color: #542437;
  }

/* Paragraphs & body text elements
----------------------------------------------- */


em {
  font-style: italic;
  }
strong {
  font-weight: bold;
  }

p {
  margin: 0;
  }
p + p {
  text-indent: 24px;
  }

/* 
section[role="main"] p:last-child:after {
  content: "\00B6"; 
  }
 */

aside, .footnotes, footer {
  font-size: 13px;
  line-height: 20px;
  }




/* Footnotes
----------------------------------------------- */

sub, sup {
  font-size: 13px;
  font-weight: 600;
  line-height: 0;
  }
sub a, sup a {
  text-decoration: none;
  }
sup {
  vertical-align: super;
  }
sub {
  vertical-align: sub;
  }
.footnotes {
  width: 228px;
  position: absolute;
  left: -251px;
  bottom: 0;
  color: #033649;
  }
.footnotes hr {
  width: 30%;
  display: none;
  }
.footnotes ol {
  list-style: decimal inside;
  }
.footnotes li {
  padding-bottom: 1em;
  }
.footnotes li:last-child {
  padding-bottom: 0;
  }
.footnotes li p + p {
  text-indent: 1em;
  }
.footnotes [id*="fn"] {
  padding-top: 144px;
  margin-top: -141px;
  }


/* Book thumbnails
----------------------------------------------- */

.bookthumbs p {
  }
.bookthumbs > li {
  float: left;
  margin-bottom: 24px;
  }
.bookthumbs > li a {
  display: block;
  padding: 4px;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #cdb380;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(84, 36, 55, 0.2);
     -moz-box-shadow: 0 1px 3px rgba(84, 36, 55, 0.2);
          box-shadow: 0 1px 3px rgba(84, 36, 55, 0.2);
  -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
  }
.bookthumbs > li a:hover,
.bookthumbs > li a:focus {
  border-color: #c02942;
  -webkit-box-shadow: 0 1px 4px rgba(192, 41, 66, 0.4);
     -moz-box-shadow: 0 1px 4px rgba(192, 41, 66, 0.4);
          box-shadow: 0 1px 4px rgba(192, 41, 66, 0.4);
  }
.bookthumbs > li a img {
  display: block;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  }
.bookthumbs > li a .caption {
  font-style: normal;
  color: #033649;
  padding-top: 6px;
  text-align: center;
  }

.banner .bookthumbs {
  width: 100%;
  }
.banner .bookthumbs > li {
  width: 150px;
  margin: 24px 0 0 12px;
  }
.banner .bookthumbs > li:first-child {
  margin-left: 0;
  }

/* Miscellaneous
----------------------------------------------- */

.group:before,
.group:after {
  display: table;
  line-height: 0;
  content: "";
  }
.group:after {
  clear: both;
  }
.group {
  *zoom: 1;
  }

/* Navbar (thx @mdo and @fat)
----------------------------------------------- */

.navbar {
  overflow: visible;
  margin-bottom: 48px;
  *position: relative;
  *z-index: 2;
  }
.navbar .group {
  min-height: 24px;
  background-color: #dbc8a6;
  background-image: -moz-linear-gradient(top, #e8ddcb, #cdb380);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e8ddcb), to(#cdb380));
  background-image: -webkit-linear-gradient(top, #e8ddcb, #cdb380);
  background-image: -o-linear-gradient(top, #e8ddcb, #cdb380);
  background-image: linear-gradient(to bottom, #e8ddcb, #cdb380);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8ddcb', endColorstr='#ffcdb380', GradientType=0);
  border: 1px solid #c6a86e;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px rgba(3, 22, 52, 0.1);
  -moz-box-shadow: 0 1px 4px rgba(3, 22, 52, 0.1);
  box-shadow: 0 1px 4px rgba(3, 22, 52, 0.1);
  *zoom: 1;
  }
.navbar .nav {
  display: table;
  width: 100%;
  }
.navbar .nav > li {
  display: table-cell;
  width: 1%;
  }
.navbar .nav > li > a {
  display: block;
  color: #036564;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 0 #e8ddcb;
  border-left: 1px solid rgba(232, 221, 203, 0.7);
  border-right: 1px solid rgba(3, 22, 52, 0.1);
  }
.navbar .nav > li:first-child > a {
  border-left: 0;
  border-radius: 3px 0 0 3px;
  }
.navbar .nav > li:last-child > a {
  border-right: 0;
  border-radius: 0 3px 3px 0;
  }
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  background-color: transparent;
  color: #033649;
  text-decoration: none;
  }
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #034e57;
  text-decoration: none;
  background-color: #c6a86e;
  -webkit-box-shadow: inset 0 3px 8px rgba(3, 22, 52, 0.125);
  -moz-box-shadow: inset 0 3px 8px rgba(3, 22, 52, 0.125);
  box-shadow: inset 0 3px 8px rgba(3, 22, 52, 0.125);
  }
.affix {
  position: fixed;
  width: 732px;
  top: 24px;
  z-index: 10;
  }
