---
layout: default
---

      <article class="group">
        <header role="heading">
          <h1>{{page.title}}</h1>
          <p class="byline">{%if page.category contains 'review'%}A review essay by{%else%}By{%endif%} <a class="author" href="#">{{page.author}}</a>, published on <time datetime="{{page.date | date: '%Y-%m-%d'}}">{{page.date | date: '%d %B %Y'}}</time>.</p>
        </header>
        {%if page.sections%}
        <div class="navbar" data-spy="affix" data-offset-top="330">
          <div class="group">
            <ul class="nav">
              {%for section in page.sections%}
              <li><a href="#{{section.id}}">&sect; {{forloop.index}}. {{section.name}}</a></li>
              {%endfor%}
            </ul>
          </div>
        </div>
        {%endif%}
        <aside role="contentinfo">
          {%if page.aside%}<p>{{page.aside}}</p>{%endif%}
          <p>This is an aside for links and information about the article (like its DOI and where to find the source on GitHub).</p>
        </aside>
  
        <section role="main">

{{content}}

        </section>
      </article>
