<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{site.site_name}}, {{site.site_tagline}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Lente.net is the open-access press behind the Journal for Scripture &amp; Theology. Lente, as in the old saying festina lente: make haste slowly.">
	<meta name="author" content="Daniel R. Driver">

	<link rel="stylesheet" media="screen, projection" href="/-/css/screen.css">
	<script src="/-/js/modernizr-2.6.2.min.js"></script>
</head>
<body>
	<div class="container">

		{{content}}

	</div><!-- /container -->
	<div id="extra">
		<div class="container">
		</div>
	</div><!-- /extra -->

	<footer class="group">
		<p>Design and content by Daniel R. Driver. <a href="#copy">Copyright tk</a>. Festina lente: make haste slowly.</p>
	</footer>

	<!-- Let b stand for border. -->
	<b id="top"></b>
	<b id="bottom"></b>
	<b id="left"></b>
	<b id="right"></b>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="/-/js/jquery-1.9.1.min.js"><\/script>')</script>
	<script src="/-/js/plugins.js"></script>
	<script src="/-/js/main.js"></script>
	<!-- TK Google Analytics: change UA-XXXXX-X to be your site's ID. -->
	<script>
		var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
		(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
		g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
		s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>

</body>
</html>
