<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} &mdash; {% endif %}{{site.title}}{% unless page.title %}, {{ site.tagline }}{% endunless %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Lente.net is the open-access press behind the Journal for Scripture &amp; Theology. Lente, as in the old saying festina lente: make haste slowly.">
    <meta name="author" content="Daniel R. Driver">

    <link rel="stylesheet" media="screen, projection" href="/assets/css/screen.css">
    
    <!--[if lt IE 9]>
      <script src="/assets/js/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="container">

      <header class="group" role="banner">
        <div id="logo">
          <a href="/"><img src="/assets/img/lente.png" alt="Lente.net"></img></a>
        </div>
        <nav role="navigation">
          <ul>
            <li><a {% if page.url contains '/jst/' %}class="active" {% endif %}href="/jst/"><i>JST</i> <small>Refereed Articles</small></a></li>
            <li><a {% if page.url contains '/books/' %}class="active" {% endif %}href="/books/"><i>Books</i> <small>Under Review</small></a></li>
            <li><a {% if page.url contains '/lists/' %}class="active" {% endif %}href="/lists/"><i>Lists</i> <small>Bibliographies</small></a></li>
            <li><a {% if page.url contains '/notes/' %}class="active" {% endif %}href="/notes/"><i>Notes</i> <small>News, Notanda</small></a></li>
          </ul>
        </nav>
      </header>

{{content}}

      <footer class="group">
        <p>Design and content by Daniel R. Driver. <a href="#copy">Copyright tk</a>. Festina lente: make haste slowly.</p>
      </footer>

    </div><!-- /container -->

    <!-- Let b stand for border. -->
    <b id="top"></b>
    <b id="bottom"></b>
    <b id="left"></b>
    <b id="right"></b>

    <!-- Place scripts at the bottom for faster page loads. -->
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
    <script src="/assets/js/custom.js"></script>
    <!-- TK Google Analytics: change UA-XXXXX-X to the site's ID. -->
    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>

  </body>
</html>
