---
layout: default
---

		<header class="group" role="banner">
			<div id="logo">
				<a href="#"><img src="img/lente.png" alt="Lente.net"></img></a>
			</div>
			<nav role="navigation">
				<ul>
					<li><a href="#"><i>Journal</i> <small>Articles on S<em>&amp;</em>T</small></a></li>
					<li><a class="active" href="#"><i>Reviews</i> <small>Topical Books</small></a></li>
					<li><a href="#"><i>Lists</i> <small>Bibliographies</small></a></li>
					<li><a href="#"><i>Notes</i> <small>News, Notanda</small></a></li>
				</ul>
			</nav>
		</header>

		{{content}}
